<!DOCTYPE html>
<html lang="el"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>Restaurants</title>
</head>

<body>

<section layout:fragment="main">

    <h1>Restaurants</h1>

    <ul>
        <li th:each="restaurant : ${restaurants}">
            <a th:href="@{/restaurants/{id}(id=${restaurant.id})}">
                <span th:text="${restaurant.username}"></span>
            </a>
        </li>
    </ul>

</section>

</body>
</html>

